*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    display: inline-block;
    margin: 7px 50px;
    /* margin: 10px 10px; */
    margin-top: 0;
}
.logo h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.hul{
    display: flex;
    float: inline-end;
    margin: 6px 30px;
    color: white;
    margin-top: 14px;
}
.hli{
    list-style: none;
    margin-left: 30px;
    color: white;
}
.header-a{
    text-decoration: none;
    color: white;
    font-size: medium;
}
.header-container{
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    /* padding: 20px; */
    position: static;
}
.header-a:hover,.header-a:focus{
    color: rgb(180, 175, 175);
    text-decoration: none;
}
